<ion-view cache-view="false" >
  <ion-nav-bar class="bar-dark">
  </ion-nav-bar>

  <ion-nav-title>
    CUSTOMER EXPERIENCE
  </ion-nav-title>

  <ion-nav-buttons side="left" style="vertical-align: middle">
    <a ng-model="annotationButt" data-tool="marker" ng-click="annotationClicked()" ng-class="annotationButt.clicked?'annotationActive':'annotationStatic'"></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a href="#/cexp">
      <img src="img/Home-Static.png" style="width:27px;vertical-align: middle">
    </a>
  </ion-nav-buttons>

  <ion-content class="main-bg has-header" scroll="false">

    <canvas id="sketchTerminal" width="420" height="800" style="display:none; position:absolute; top:0px; left:0px; z-index: 100"></canvas>

    <div class="row row-center" style="padding: 0 !important">
      <div class="col-50 col-center homeChartGrid">
        <p class="homeChartTitle">Terminal 1</p>
        <div id="terminal1Chart" class="homeChartCell"></div>
      </div>
      <div class="col-50 col-center homeChartGrid">
        <p class="homeChartTitle">Terminal 2</p>
        <div id="terminal2Chart" class="homeChartCell">test</div>
      </div>
    </div>

    <div class="row row-center" style="padding: 0 !important">
      <div class="col-50 col-center homeChartGrid">
        <p class="homeChartTitle">Terminal 3</p>
        <div id="terminal3Chart" class="homeChartCell"></div>
      </div>
      <div class="col-50 col-center homeChartGrid">
        <p class="homeChartTitle">Terminal 4</p>
        <div id="terminal4Chart" class="homeChartCell"></div>
      </div>
    </div>

    <div class="row row-center" style="padding: 0 !important">
      <div class="col-50 col-center homeChartGrid">
        <p class="homeChartTitle">Terminal 5</p>
        <div id="terminal5Chart" class="homeChartCell"></div>
      </div>
      <div class="col-50 col-center homeChartGrid">
        <p class="homeChartTitle">Terminal 6</p>
        <div id="terminal6Chart" class="homeChartCell"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
