<ion-view cache-view="false" >
  <ion-nav-bar class="bar-dark">
  </ion-nav-bar>

  <ion-nav-title style="width: 100%; font-size: 14px; font-weight: 500">
    PULSE TERMS & CONDITIONS
  </ion-nav-title>

  <ion-nav-buttons side="left" style="vertical-align: middle">
    <a class="button button-clear" style="; font-size: 14px;font-weight: 500" href="#/login" >< BACK</a>
  </ion-nav-buttons>

  <!--ion-nav-back-button></ion-nav-back-button-->

  <ion-content class="main-bg has-header" scroll="false">

    <div>
      <p style="color: white">To do....</p>

    </div>

  </ion-content>
</ion-view>
